In [2]:
import glob
import pandas as pd
import mysql.connector as sql

df = pd.read_csv("/home/garage/workspace/price_update_crontab/upbit_krwbtc_1day.csv")
df = df.tail(11)
print(df)
db_connection = sql.connect(host='root.cqyptexqvznx.ap-northeast-2.rds.amazonaws.com',port=int(3306), database='garage_test', user='root', password='koscom!234')
db_cursor = db_connection.cursor()

               timestamp        open       close        high         low  \
966  2020-05-18T09:00:00  11619000.0  11705000.0  11899000.0  11380000.0
967  2020-05-19T09:00:00  11704000.0  11727000.0  11833000.0  11430000.0
968  2020-05-20T09:00:00  11727000.0  11532000.0  11800000.0  11350000.0
969  2020-05-21T09:00:00  11533000.0  11089000.0  11609000.0  10798000.0
970  2020-05-22T09:00:00  11089000.0  11117000.0  11242000.0  10900000.0
971  2020-05-23T09:00:00  11117000.0  11140000.0  11299000.0  11048000.0
972  2020-05-24T09:00:00  11140000.0  10664000.0  11249000.0  10630000.0
973  2020-05-25T09:00:00  10663000.0  10825000.0  10886000.0  10507000.0
974  2020-05-26T09:00:00  10821000.0  10729000.0  10929000.0  10611000.0
975  2020-05-27T09:00:00  10724000.0  11163000.0  11187000.0  10722000.0
976  2020-05-28T09:00:00  11151000.0  11153000.0  11180000.0  11139000.0

          volume
966  6557.546140
967  6500.919618
968  5246.788728
969  7323.045949
970  4239.655740
971  2106.463909
972  3564.633242
973  4299.982282
974  3154.589746
975  4433.783301
976    29.717046

In [3]:
for i in range(len(df)):
    tmp = str(df.iloc[i]['timestamp']).replace("-","")
    tmp = tmp.split('T')
    base_dt = tmp[0]
    
    coin_type = 'krwbtc'
    base_time = tmp[1]
    open_price = df.iloc[i]['open']
    close_price = df.iloc[i]['close']
    high_price = df.iloc[i]['high']
    low_price = df.iloc[i]['low']
    volumn = df.iloc[i]['volume']

    query = "INSERT INTO history_dt_prc_upbit VALUES('{}','{}',{},{},{},{},{})".format(base_dt,coin_type,open_price,close_price,high_price,low_price,volumn)
    db_cursor.execute(query)
    print(query)
    
db_connection.commit()

INSERT INTO history_dt_prc_upbit VALUES('20200518','krwbtc',11619000.0,11705000.0,11899000.0,11380000.0,6557.54613956)
INSERT INTO history_dt_prc_upbit VALUES('20200519','krwbtc',11704000.0,11727000.0,11833000.0,11430000.0,6500.9196182999995)
INSERT INTO history_dt_prc_upbit VALUES('20200520','krwbtc',11727000.0,11532000.0,11800000.0,11350000.0,5246.78872844)
INSERT INTO history_dt_prc_upbit VALUES('20200521','krwbtc',11533000.0,11089000.0,11609000.0,10798000.0,7323.04594878)
INSERT INTO history_dt_prc_upbit VALUES('20200522','krwbtc',11089000.0,11117000.0,11242000.0,10900000.0,4239.65573952)
INSERT INTO history_dt_prc_upbit VALUES('20200523','krwbtc',11117000.0,11140000.0,11299000.0,11048000.0,2106.46390938)
INSERT INTO history_dt_prc_upbit VALUES('20200524','krwbtc',11140000.0,10664000.0,11249000.0,10630000.0,3564.63324161)
INSERT INTO history_dt_prc_upbit VALUES('20200525','krwbtc',10663000.0,10825000.0,10886000.0,10507000.0,4299.98228167)
INSERT INTO history_dt_prc_upbit VALUES('20200526','krwbtc',10821000.0,10729000.0,10929000.0,10611000.0,3154.58974572)
INSERT INTO history_dt_prc_upbit VALUES('20200527','krwbtc',10724000.0,11163000.0,11187000.0,10722000.0,4433.78330122)
INSERT INTO history_dt_prc_upbit VALUES('20200528','krwbtc',11151000.0,11153000.0,11180000.0,11139000.0,29.71704568)