In [6]:
import mysql.connector as sql
import glob
import pandas as pd


df = pd.read_csv("/home/garage/workspace/price_update_crontab/upbit_krwbtc_1day.csv")
df = df.tail(4)
print(df)
db_connection = sql.connect(host='root.cqyptexqvznx.ap-northeast-2.rds.amazonaws.com',port=int(3306), database='garage_test', user='root', password='koscom!234')
db_cursor = db_connection.cursor()

                timestamp        open       close        high         low  \
1015  2020-07-06T09:00:00  10831000.0  11065000.0  11102000.0  10796000.0
1016  2020-07-07T09:00:00  11065000.0  10988000.0  11097000.0  10952000.0
1017  2020-07-08T09:00:00  10988000.0  11138000.0  11208000.0  10968000.0
1018  2020-07-09T09:00:00  11135000.0  11145000.0  11145000.0  11133000.0

           volume
1015  2834.356263
1016  1828.517133
1017  3274.769819
1018    15.923288

In [7]:
for i in range(len(df)):
    tmp = str(df.iloc[i]['timestamp']).replace("-","")
    tmp = tmp.split('T')
    base_dt = tmp[0]
    
    coin_type = 'krwbtc'
    base_time = tmp[1]
    open_price = df.iloc[i]['open']
    close_price = df.iloc[i]['close']
    high_price = df.iloc[i]['high']
    low_price = df.iloc[i]['low']
    volumn = df.iloc[i]['volume']

    query = "INSERT INTO history_dt_prc_upbit VALUES('{}','{}',{},{},{},{},{})".format(base_dt,coin_type,open_price,close_price,high_price,low_price,volumn)
    db_cursor.execute(query)
    print(query)
    
db_connection.commit()

INSERT INTO history_dt_prc_upbit VALUES('20200706','krwbtc',10831000.0,11065000.0,11102000.0,10796000.0,2834.35626338)
INSERT INTO history_dt_prc_upbit VALUES('20200707','krwbtc',11065000.0,10988000.0,11097000.0,10952000.0,1828.51713339)
INSERT INTO history_dt_prc_upbit VALUES('20200708','krwbtc',10988000.0,11138000.0,11208000.0,10968000.0,3274.76981902)
INSERT INTO history_dt_prc_upbit VALUES('20200709','krwbtc',11135000.0,11145000.0,11145000.0,11133000.0,15.92328837)

In [ ]:
db_connection.close()