In [2]:
import glob
import pandas as pd
import mysql.connector as sql

In [3]:
df = pd.read_csv("/home/garage/workspace/price_update_crontab/upbit_krwbtc_1min.csv")

In [4]:
df = df.tail(5)
print(df)

                   timestamp       open      close       high        low  \
1214773  2020-03-09T13:55:00  9698000.0  9680000.0  9707000.0  9680000.0
1214774  2020-03-09T13:56:00  9680000.0  9676000.0  9680000.0  9672000.0
1214775  2020-03-09T13:57:00  9676000.0  9688000.0  9696000.0  9675000.0
1214776  2020-03-09T13:58:00  9682000.0  9680000.0  9694000.0  9680000.0
1214777  2020-03-09T13:59:00  9688000.0  9699000.0  9701000.0  9680000.0

            volume
1214773  16.413761
1214774   9.498444
1214775   3.332564
1214776   5.301427
1214777   3.908534

In [5]:
db_connection = sql.connect(host='root.cqyptexqvznx.ap-northeast-2.rds.amazonaws.com',port=int(3306), database='garage_test', user='root', password='koscom!234')
db_cursor = db_connection.cursor()

In [7]:
for i in range(len(df)):
    tmp = str(df.iloc[i]['timestamp']).replace("-","")
    tmp = tmp.split('T')
    base_dt = tmp[0]
    
    coin_type = 'krwbtc'
    base_time = tmp[1]
    open_price = df.iloc[i]['open']
    close_price = df.iloc[i]['close']
    high_price = df.iloc[i]['high']
    low_price = df.iloc[i]['low']
    volumn = df.iloc[i]['volume']

    query = "INSERT INTO history_prc_upbit VALUES('{}','{}','{}',{},{},{},{},{})".format(base_dt,base_time,coin_type,open_price,close_price,high_price,low_price,volumn)
    db_cursor.execute(query)
    print(query)
    
db_connection.commit()

INSERT INTO history_prc_upbit VALUES('20200309','13:55:00','krwbtc',9698000.0,9680000.0,9707000.0,9680000.0,16.413760800000002)
INSERT INTO history_prc_upbit VALUES('20200309','13:56:00','krwbtc',9680000.0,9676000.0,9680000.0,9672000.0,9.49844425)
INSERT INTO history_prc_upbit VALUES('20200309','13:57:00','krwbtc',9676000.0,9688000.0,9696000.0,9675000.0,3.33256388)
INSERT INTO history_prc_upbit VALUES('20200309','13:58:00','krwbtc',9682000.0,9680000.0,9694000.0,9680000.0,5.3014268)
INSERT INTO history_prc_upbit VALUES('20200309','13:59:00','krwbtc',9688000.0,9699000.0,9701000.0,9680000.0,3.90853367)